.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  overflow: hidden;
  line-height: 64px;
  background: #fff;
  transition: all 0.3s;
  text-align: center;
  padding: 0 10px;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  max-width: 100%;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  .header-trigger {
    height: 64px;
    padding: 0 1em;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s, padding 0s;
  }
}

nz-content {
  margin: 1em;
}

.inner-content {
  padding: 1em;
  background: #fff;
  min-height: calc(100vh - 78px);
  height: auto;
  margin: 0;
}


